:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fd736c;
  background: linear-gradient(to right, #fd736c 0%, #ff8b68 100%);
}


.card {
  width: 80%;
  min-height: 60%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  padding: 2rem;
}
