:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fd736c;
  background: linear-gradient(to right, #fd736c 0%, #ff8b68 100%);
}
