<div class="page-content">
  <div class="field-control">
    <input type="text"
           placeholder="City"
           [formControl]="control"
           [prwAutocomplete]="autocomplete" />

  </div>
  <span class="separator-text">or</span>
  <span>use my <span class="styled-text" (click)="getUserLocation()">current location</span></span>
</div>

<prw-autocomplete #autocomplete="prwAutocomplete"
                  (optionSelected)="selectCity($event)"
                  [displayWith]="displayWithFn">
  <ng-template prwAutocompleteContent>
    <prw-option *ngFor="let option of (cityList$ | async)" [value]="option">
      {{ option.name }}, {{ option.country }}
    </prw-option>
  </ng-template>
</prw-autocomplete>
