<div class="header">
  <i class="material-icons pointer">arrow_back</i>
  <span class="title">{{ cityName }}</span>
</div>

<div class="weather-today" *ngIf="currentWeather$ | async as currentWeather">
  <div class="title">{{ currentWeather.dt * 1000 | date: 'fullDate' }}</div>
  <div class="sub-title">{{ currentWeather.weather[0].description | titlecase }}</div>
  <div class="weather">
    <div class="now">
      <span>{{ currentWeather.main.temp | temperature }}</span>
      <i [class]="'wi ' + (currentWeather.weather[0].main | weatherIcon)"></i>
    </div>
    <div class="other-time-list">
      <div class="other-time-item">
        <label>Morning</label>
        <span>5</span>
      </div>
      <div class="other-time-item">
        <label>Day</label>
        <span>5</span>
      </div>
      <div class="other-time-item">
        <label>Evening</label>
        <span>5</span>
      </div>
      <div class="other-time-item">
        <label>Night</label>
        <span>5</span>
      </div>
    </div>
  </div>
</div>

<div class="weather-week">
  <div class="day" *ngFor="let day of forecast$ | async">
    <label>{{ day.dt * 1000 | date: 'EEEE' }}</label>
    <i [class]="'wi ' + (day.weather[0].main | weatherIcon)"></i>
    <span>{{ day.main.temp | temperature }}</span>
  </div>
</div>
