:host {
  flex: 1 1 100%;
}

.header {
  display: flex;
  align-items: center;
  font-size: 3rem;
  i {
    font-size: 3rem
  }
}

.weather-today {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2.5rem
  }

  .sub-title {
    font-size: 2rem;
  }

  .weather {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;

    .now {
      flex: 1 1 50%;
      font-size: 5rem;
      color: #fd736c;

      span {
        margin-right: 1.5rem;
      }
    }
  }
}

.today-forecast {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  flex: 1 1 30%;

  .forecast-item {
    display: flex;
    width: 100%;
    color: #fd736c;

    label {
      text-align: left;
      flex: 1 0 50%;
    }

    span {
      text-align: left;
      flex: 1 0 30%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.weather-week {
  display: flex;
  justify-content: space-between;

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 115px;

    i {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 576px) {
  .header {
    font-size: 2rem;
    i {
      font-size: 2rem;
    }
  }
  .weather-today {
    .title {
      font-size: 1.5rem;
    }
    .sub-title {
      font-size: 1.2rem;
    }
    .weather {
      flex-direction: column;
      align-items: stretch;

      .now {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-between;
      }
    }
  }

  .today-forecast {
    .forecast-item {
      span {
        text-align: right;
      }
    }
  }

  .weather-week {
    flex-direction: column;
    align-items: flex-start;

    .day {
      display: flex;
      width: 100%;
      flex-direction: row;
      height: auto;
      padding: 1rem 0;
      font-size: 1.2rem;

      label {
        text-align: left;
        flex: 1 0 50%;
      }
      i {
        flex: 1 0 auto;
      }
      span {
        text-align: right;
        flex: 1 0 30%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
