<ng-container *ngIf="(weather$ | async) as weather; else loading">
  <div class="header">
    <i class="material-icons pointer" (click)="back.emit()">arrow_back</i>
    <span class="title">{{ weather.current.name }}</span>
  </div>
  <div class="weather-today">
    <div class="title">{{ weather.current.dt * 1000 | date: 'fullDate' }}</div>
    <div class="sub-title">{{ weather.current.weather[0].description | titlecase }}</div>
    <div class="weather">
      <div class="now">
        <span>{{ weather.current.main.temp | temperature }}</span>
        <i [class]="(weather.current.weather[0].main | weatherIcon)"></i>
      </div>
      <div class="today-forecast">
        <div class="forecast-item">
          <label>Morning</label>
          <span>{{ weather.forecast.today.temp.morn | temperature }}</span>
        </div>
        <div class="forecast-item">
          <label>Day</label>
          <span>{{ weather.forecast.today.temp.day | temperature }}</span>
        </div>
        <div class="forecast-item">
          <label>Evening</label>
          <span>{{ weather.forecast.today.temp.eve | temperature }}</span>
        </div>
        <div class="forecast-item">
          <label>Night</label>
          <span>{{ weather.forecast.today.temp.night | temperature }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="weather-week">
    <div class="day" *ngFor="let day of weather.forecast.nextDays">
      <label>{{ day.dt * 1000 | date: 'EEEE' }}</label>
      <i [class]="(day.weather[0].main | weatherIcon)"></i>
      <span>{{ day.temp.day | temperature }}</span>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <i class="material-icons">loop</i>
  </div>
</ng-template>
